&__subscription {
  @include flex-column($space-16);
  background-color: $cyan;
  padding: $space-24;

  &-title {
    @include flex-column($space-16);
    color: $white;
    font-size: $font-size-18;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing--0_2;
    line-height: $line-height-120;
  }

  &-content {
    @include flex-column($space-28);
  }

  &-wrapper {
    @include flex-column($space-8);
  }

  &-price {
    align-items: center;
    @include flex-row($space-8);
  }

  &-price-amount {
    color: $white;
    font-size: $font-size-32;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing--0_2;
    line-height: $line-height-120;
  }

  &-price-period,
  &-description {
    color: $white;
    font-size: $font-size-16;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing--0_2;
    line-height: $line-height-120;
  }

  &-button {
    background-color: $bright-yellow;
    border: none;
    border-radius: $border-radius-4;
    color: $white;
    font-size: $font-size-16;
    font-weight: $font-weight-bold;
    height: 3rem;
    letter-spacing: $letter-spacing--0_2;
    line-height: $line-height-120;
  }
}
