&__subscription {
  @include flex-column($space-24);
  background-color: $cyan;
  padding: $space-24;

  &-title {
    @include flex-column($space-16);
    color: $white;
    font-size: $font-size-18;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing--0_2;
    line-height: $line-height-120;
  }
}
